@import url(filter.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
body {
    direction: rtl;
    text-align: right;
}

.text-left {
    text-align: right !important;
}